/* .chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 20px 30px 30px 30px;
  overflow-y: auto;
}
.content-container {
  flex: 1;
  margin-top: 60px;
  margin-left: 200px;
  overflow-y: auto;
} */
